
{% extends 'base.html.twig' %}

{% block body%}
    <marquee>
        <h1> BIENVENUE A SENFORAGE</h1>
    </marquee>
    <p>Adresse: AAAAA BBBB</p>
    <p>Tel: 77 314 42 46</p>
    <p>Email: senforage@gmail.com</p>
   
   
    <marquee scrollamount="2" direction="up" onmouseover="this.stop()" onmouseout="this.start()">
     <center>
         <img style="height: 250px; width: 600px; display: block;" alt="Card image" src="images/image4.jpg" />
     <br/><br/><br/>
     <br/><img style="height: 250px; width: 600px; display: block;" alt="Card image" src="images/image3.jpg" />
     <br/><br/><br/>
     <br/><img style="height: 250px; width: 600px; display: block;" alt="Card image" src="images/image2.jpg" />
     <br/><br/><br/>
     <br/><img style="height: 250px; width: 600px; display: block;" alt="Card image" src="images/robinet.jpg" />
    </center>
    </marquee>
    

    <P>
     <marquee>
    <h1>EAU POTABLE POUR TOUS !</h2>
    </p>
     </marquee>
{% endblock %}

